/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* SignIn Component */
* {
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    
    /*background-image: url("../Imagenes/background.jpeg");*/
  
    
}








/* SignUp Component */

/* Home view */

/* Account View */